@font-face {
  font-family: "yy-icon";
  src: url('yy-icon.eot?t=1728285584894'); /* IE9*/
  src: url('yy-icon.eot?t=1728285584894#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("yy-icon.woff2?t=1728285584894") format("woff2"),
  url("yy-icon.woff?t=1728285584894") format("woff"),
  url('yy-icon.ttf?t=1728285584894') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('yy-icon.svg?t=1728285584894#yy-icon') format('svg'); /* iOS 4.1- */
}

[class^="yy-icon-"], [class*=" yy-icon-"] {
  font-family: 'yy-icon' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.yy-icon-airplay:before { content: "\ea01"; }
.yy-icon-anchor:before { content: "\ea02"; }
.yy-icon-bell:before { content: "\ea03"; }
.yy-icon-bold:before { content: "\ea04"; }
.yy-icon-book:before { content: "\ea05"; }


